//COLORS
$color-primary: #ee4732;
$color-secondary: #032633;
$color-grey-light: #f5f5f5;
$color-grey-dark: #c4c4c4;
$color-transparent: rgba(0, 0, 0, 0);

//FONTS
$font-primary: #032633;
$font-light: #3f5157;
$font-quote: #414141;

//SCREEN WIDTH
$screen-lg: 122em; // 1952px
$screen-md: 93.8em; // 1500px
$screen-sm: 62.5em; // 1000px
$screen-tab: 52.125em; // 834px
$screen-mob: 25em; // 400px
