.off-canvas {
  background-color: $color-secondary;
  opacity: 0.95;
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;

  @media only screen and (max-width: $screen-tab) {
    width: 100vw;
  }
}

.hidden {
  transform: translateX(100%);
  z-index: 100;
}

.off-list {
  font-size: 4rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  
  transform: translateX(100%);
  transition: all 0.8s;
  opacity: 0;

  &__item {
    list-style-type: none;
    &:not(:last-of-type) {
      margin-bottom: 6rem;
    }
  }
  &__link {
    text-decoration: none;
    color: $color-grey-light;
  }
}

.reveal-list {
  transform: translateX(0%);
  opacity: 1;
}
