.nav-bar {
  grid-column: full-start / full-end;
  position: absolute;
  top: 0;
  left: 0;
  height: 7.2rem;
  padding: 0 4rem;
  z-index: 100;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 1fr));
  align-items: center;
}

.sticky {
  position: fixed;
  background-color: $color-secondary;
  animation-name: slidein;
  animation-duration: 0.4s;
  transition: 0.8s;
}

@keyframes slidein {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}

.logo {
  grid-column: 1 / 2;
  display: block;
  margin-right: auto;
}

.menu {
  display: flex;
  justify-content: flex-end;
}
.nav {
  display: flex;
  @media only screen and (max-width: $screen-tab) {
    display: none;
  }
}
.list {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-left: auto;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &__item {
    display: block;
    padding: 1rem 0;
    margin-right: 3vw;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: #fff;
    line-height: 3.2rem;
    padding: 1rem 0;
    position: relative;
  }

  &__link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.4s;
  }

  &__link:hover::after {
    width: 100%;
  }

  &__link--active::after {
    width: 100%;
  }
}

.off-canvas-tog {
  display: none;
  @media only screen and (max-width: $screen-tab) {
    display: block;
    z-index: 15;
  }
}

.button-offc {
  cursor: pointer;
  padding: 1rem 0 1rem 1rem;
  &__icon {
    content: "";
    display: block;
    height: 3px;
    width: 4rem;
    border-radius: 100px;
    background-color: $color-grey-light;

    &::before {
      content: "";
      display: block;
      height: 3px;
      width: 4rem;
      border-radius: 50px;
      background-color: $color-grey-light;
      transform: translateY(-10px);
    }

    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 4rem;
      border-radius: 50px;
      background-color: $color-grey-light;
      transform: translateY(7px);
    }
  }
}

.hidde {
  @media only screen and (max-width: $screen-tab) {
    display: none;
  }
}
