*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: $screen-md) {
    font-size: 50%;
  }
  @media only screen and (min-width: $screen-lg) {
    font-size: 80%;
  }
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  font-size: clamp(1rem, 5.6vw, 1.6rem);
  color: $font-primary;
}
.container {
  display: grid;
  position: relative;

  grid-template-columns:
    [full-start] minmax(4rem, 24rem) [content-start] repeat(
      auto-fit,
      [col-start] minmax(30rem, 1fr) [col-end]
    )
    [content-end] minmax(4rem, 24rem) [full-end];

  grid-template-rows: 1fr repeat(6, minmax(min-content, max-content));
  grid-column-gap: 4vw;

  @media only screen and (max-width: $screen-md) {
    grid-template-columns:
      [full-start] minmax(4rem, 5rem) [content-start] repeat(
        auto-fit,
        [col-start] minmax(30rem, 1fr) [col-end]
      )
      [content-end] minmax(4rem, 5rem) [full-end];
  }

  @media only screen and (max-width: $screen-tab) {
    grid-template-columns:
      [full-start] minmax(1rem, 6rem) [content-start] minmax(36rem, 1fr)
      [content-end] minmax(1rem, 6rem) [full-end];

    grid-template-rows: repeat(auto-fill, 1fr);
    grid-column-gap: 4vw;
  }
}
